<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title class="ion-text-center">RACES SEARCHER</ion-title>
    
    <ion-button href="/map" color = "success" size = "small" shape = "round">Switch to Map View <ion-icon name="map-sharp"></ion-icon></ion-button> 
    
       
  </ion-toolbar>
</ion-header>

<ion-content id = "container">
  <hr>
  
     <div class>
      <h3><b>DISTANCE SELECTOR</b></h3>
     </div>

    <ion-item>
      <ion-label><b>Your location is </b></ion-label>
      <ion-label><b>Long:</b> {{this.longitude}}</ion-label>
      <ion-label><b>Lat:</b> {{this.latitude}}</ion-label>  
    </ion-item>
    
  <ion-item>
    <ion-range [(ngModel)]= "distance" min="100" max="100000" color="success" pin="true" (ionChange) = "getNearPlaces()">      
      <ion-icon name="location-sharp" slot = "start" size= "small" color = "danger"></ion-icon>
      <ion-icon name="location-sharp" slot ="end" color = "danger" size = "large"></ion-icon>
    </ion-range>
  </ion-item>
  
  <h5><b>Showing races up to {{distance}} meters from your current location</b></h5>

  <ion-list>
   <ion-item *ngFor = "let race of races">
    <ion-label><b>Title:</b> {{race.title}}</ion-label>
    <ion-label><b>Author:</b> {{race.author}}</ion-label>
    <ion-label><b>Long:</b> {{race.startingPoint.coordinates[0]}}</ion-label>
    <ion-label><b>Lat:</b> {{race.startingPoint.coordinates[1]}}</ion-label>
      
  </ion-item>
  </ion-list>

  
</ion-content>

