<ion-header>
  <ion-toolbar>
    <ion-title>RACES SEARCHER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <hr>
  Distance Selector
  <ion-item>
    <ion-range min="0" max="1000" step="100" snaps="true" color="success" pin="true">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">+ 1000</ion-label>
    </ion-range>
  </ion-item>

  <ion-list>
    <ion-item-group>

      <ion-item-divider>
        <ion-label>Title</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{raceProfile.title}}</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>Author</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{raceProfile.author}}</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>Description</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{raceProfile.description}}</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-button (click)="gotoProfile()">Go to profile</ion-button>
</ion-content>
