<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>

      <ion-item-divider>
        <ion-label>Id</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{userProfile.id}}</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>Username</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{userProfile.username}}</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>Email</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{userProfile.email}}</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>History</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{userProfile.history}}</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <div id= "container">
  <ion-button href="/races" shape = "round"><ion-icon name="search-outline"></ion-icon> Search Races </ion-button>
  </div>
</ion-content>
