<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
     MAP VIEW
     <ion-button href="/races" color = "success" size = "small" shape = "round">Switch to List View <ion-icon name="list"></ion-icon></ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div id = "container"> 
  <ion-button (click)="getCurrentPosition()" shape = "round">Go To Your Location<ion-icon name="location-sharp" slot ="end" color = "danger" size = "large"></ion-icon></ion-button>
</div>
<ion-item>
  <ion-range [(ngModel)]= "distance" min="100" max="100000" color="success" pin="true" (ionChange) = "getNearPlaces()">      
    <ion-icon name="location-sharp" slot = "start" size= "small" color = "danger"></ion-icon>
    <ion-icon name="location-sharp" slot ="end" color = "danger" size = "large"></ion-icon>
  </ion-range>
</ion-item>

<h5><b>Showing races up to {{distance}} meters from your current location</b></h5>

<ion-content id="mapId" style="width: 100%; height: 100%"></ion-content>