<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      RUNNEA
    </ion-title>
      <ion-buttons slot="start">        
        <ion-back-button defaultHref="/profile"></ion-back-button>
      </ion-buttons>    
      <ion-buttons slot = "end">
        <ion-button (click)="getCurrentPosition()"  shape = "round" slot = "icon-only"><ion-icon name="location-sharp" color = "primary" size= "large"></ion-icon></ion-button>
        <ion-button href="/races" shape = "round"><ion-icon name="list" size= "large" color = "primary"></ion-icon></ion-button>
        <ion-button href="/profile" shape = "round"><ion-icon name="person-circle-outline" size = "large" color = "primary"></ion-icon></ion-button>
      </ion-buttons>
    
  </ion-toolbar>
</ion-header>



<div id = "container"> 
  <h5><b>Showing races up to {{distance}} meters from your current location</b></h5>
<ion-item>
  <ion-range [(ngModel)]= "distance"  min="100" max="100000" color="success" pin="true" (mouseup) = "getNearPlaces()">      
    <ion-icon name="location-sharp" slot = "start" size= "small" color = "danger"></ion-icon>
    <ion-icon name="location-sharp" slot ="end" color = "danger" size = "large"></ion-icon>   
  </ion-range>  
</ion-item>
</div>

<ion-content id="mapId" style="width: 100%; height: 100%"></ion-content>