<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">LOG IN</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>

    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input autocomplete = "off" name = "username" type="text" [(ngModel)]="loginDto.username" required (keyup.enter)="loginAction()"></ion-input>
    </ion-item>
  
    <ion-item>    
      <ion-label position="stacked">Password</ion-label>
      <ion-input autocomplete = "off" name = "password" type="password" [(ngModel)]="loginDto.password" required (keyup.enter)="loginAction()"></ion-input>
    </ion-item>
  
    <div id ="container">
        <ion-button shape="round" type="submit" color="success" (click)="loginAction()" size = "large">Log In</ion-button>
    </div>      
    </form>
</ion-content>
