<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">REGISTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input autocomplete = "off" name = "username" type="text" [(ngModel)]="registerDto.Username" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input autocomplete = "off" name = "email" type="text" [(ngModel)]="registerDto.Email" required></ion-input>
    </ion-item>

    <ion-item lines="full">    
      <ion-label position="floating">Password</ion-label>
      <ion-input autocomplete = "off" name = "password" type="password" [(ngModel)]="registerDto.Password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="registerAction()">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
