<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WELCOME PAGE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">WELCOME PAGE</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
    </div>
    <ion-button href="/login" expand="block" color="secondary">Log In</ion-button>
    <hr>
    <span class="divider line one-line">or</span>
    <hr>
    <ion-button href="/register" expand="block" color="warning">Register</ion-button>  
    <hr>
    <span class="divider line one-line">You can also login with: </span>
    <hr>
    <ion-button color="tertiary">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button color="danger">
      <ion-icon name="logo-google"></ion-icon>
    </ion-button>    
    <ion-button>
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-button> 
  </div>
</ion-content>
