<ion-header>
  <ion-toolbar>
    <ion-title>RUNEA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    
    <ion-text color="primary">
      <h1>Welcome to Runea!</h1>
    </ion-text>
    <ion-avatar>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR6aSdNdww9MAlZTsRWbzS3hJ5xYfZTfWpzM-Mv7pfPX5buzebI&usqp=CAU">
    </ion-avatar>
    <ion-text color="secondary">
      <h1>This is your profile page</h1>
    </ion-text>
  
    <ion-button size = "small" color = "danger" shape = "round">    
      Log out
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>

    <ion-button size = "small" color = "success" shape = "round">    
      Create Race
    <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
   

</ion-content>
