<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">RUNNEA</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>      
  </ion-buttons>
    
  <ion-buttons slot = "end">
    <!--<ion-button href="/map" shape = "round"><ion-icon name="map-sharp" size = "large" color = "primary"></ion-icon></ion-button>-->
    <ion-button href="/profile" shape = "round"><ion-icon name="person-circle-outline" size = "large" color = "primary"></ion-icon></ion-button>
  </ion-buttons>
     
    
       
  </ion-toolbar>
</ion-header>


<ion-content>
dsfdsfd
</ion-content>
