<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">RUNNEA</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/races"></ion-back-button>      
  </ion-buttons>
    
  <ion-buttons slot = "end">
    <ion-button href="/races" shape = "round"><ion-icon name="list" size= "large" color = "primary"></ion-icon></ion-button>
    <ion-button href="/map" shape = "round"><ion-icon name="map-sharp" size = "large" color = "primary"></ion-icon></ion-button>
    <ion-button href="/profile" shape = "round"><ion-icon name="person-circle-outline" size = "large" color = "primary"></ion-icon></ion-button>
  </ion-buttons>
     
    
       
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="race">
    <ion-card-header>
      <ion-card-title><b>{{race.title}}</b></ion-card-title>
      <ion-card-subtitle>{{race.author}}</ion-card-subtitle>
    </ion-card-header>

    <ion-item><ion-label><b>Distance:</b> {{race.distance}} km</ion-label></ion-item>
    <ion-item><ion-label><b>Description:</b> {{race.description}} </ion-label></ion-item>
    <ion-item><ion-label><b>Date:</b> {{race.date}} </ion-label></ion-item>
    <ion-item><b>Subscribers:</b></ion-item>
    <ion-card-content>
      <ion-list>

    <ion-item *ngFor = "let sub of race.subscribers">
      
      {{sub.username}}
    </ion-item>
    <!--<div *ngIf = "!AmISubscribed(data); else unsub">
      <ion-button shape = "round" (click)="Subscribe(data)">
        <b>Subscribe</b>
      </ion-button>
    </div>
    <ng-template #unsub>
      <ion-button shape = "round" (click)="Unsubscribe(data)">
        <b>Unsubscribe</b>
      </ion-button>
    </ng-template>-->
    </ion-list>
    </ion-card-content>
  </ion-card> 
  <ion-content id="mapId" style="width: 100%; height: 50%"></ion-content>

  
    <ion-card>
      <ion-card-header>
        <ion-card-title><b>Race Comments</b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
      <ion-list>      
       <ion-item *ngFor = "let comment of race.comments">
         <ion-label> <b>{{comment.author}}:</b> {{comment.text}} </ion-label></ion-item>
      </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-item lines="full">
      <ion-label position="floating">Leave your comment</ion-label>
      <ion-input autocomplete = "off" name = "text" type="text" [(ngModel)]="newComment.text" required (keyup.enter)="save()"></ion-input>
    </ion-item>
  
    <div id="container">
      <ion-button type="submit" color="danger" (click)="save()">Comment</ion-button>
    </div>

</ion-content>
