<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
     ADD NEW RACE
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>      
  </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content id="mapId" style="width: 100%; height: 50%"></ion-content>
    <ion-item lines="full">
      <ion-label position="floating">Title</ion-label>
      <ion-input autocomplete = "off" name = "title" type="text" [(ngModel)]="newRace.title" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Description</ion-label>
      <ion-input autocomplete = "off" name = "description" type="text" [(ngModel)]="newRace.description" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Author</ion-label>
      <ion-input autocomplete = "off" name = "author" type="text" [(ngModel)]="newRace.author" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Distance</ion-label>
      <ion-input autocomplete = "off" name = "author" type="text" [(ngModel)]="newRace.distance" required></ion-input>
    </ion-item>

    <div id="container">
        <ion-button type="submit" color="danger" expand="block" (click)="save()">Save</ion-button>
    </div>